<div class="parent">
  <div class="div1"><img src="assets/mosaic-car-1.png" alt=""></div>
  <div class="div2"><img src="assets/mosaic-car-2.png" alt=""></div>
  <div class="div3"><img src="assets/mosaic-car-3.png" alt=""></div>
  <div class="div4"><img src="assets/mosaic-car-4.png" alt=""></div>
  <div class="div5"><img src="assets/mosaic-car-5.png" alt=""></div>
  <div class="div6"><img src="assets/mosaic-car-6.png" alt=""></div>
  <div class="div7"><img src="assets/mosaic-car-1.png" alt=""></div>
  <div class="div8"><img src="assets/mosaic-car-2.png" alt=""></div>
  <div class="div9"><img src="assets/mosaic-car-3.png" alt=""></div>
  <div class="div10"><img src="assets/mosaic-car-4.png" alt=""></div>
  <div class="div11"><img src="assets/mosaic-car-5.png" alt=""></div>
  <div class="div12"><img src="assets/mosaic-car-6.png" alt=""></div>
  <div class="div13"><img src="assets/mosaic-car-1.png" alt=""></div>
  <div class="div14"><img src="assets/mosaic-car-2.png" alt=""></div>
  <div class="div15"><img src="assets/mosaic-car-3.png" alt=""></div>
  <div class="div16"><img src="assets/mosaic-car-4.png" alt=""></div>
  <div class="div17"><img src="assets/mosaic-car-5.png" alt=""></div>
  <div class="div18"><img src="assets/mosaic-car-6.png" alt=""></div>
</div>
