<header class="">
  <nav class="header container flex flex-justify-content-between">
    <div class="flex flex-justify-content-center flex-align-items-center">
      <div class="header__buttons">
        <button mat-button (click)="login()">login</button>
      </div>
      <div class="header__buttons">
        <button mat-button (click)="logout()">logout</button>
      </div>
      <div class="header__buttons">
        <a href="#" mat-button>main</a>
      </div>
      <div class="header__buttons">
        <a href="#" mat-button>Pasting cars</a>
      </div>
      <div class="header__buttons">
        <a href="#" mat-button>Car detailing</a>
      </div>
      <div class="header__buttons">
        <a href="#" mat-button>Gallery of works</a>
      </div>
    </div>
    <app-burger></app-burger>
  </nav>
</header>
