.burger-lines {
  Width: 40px;
  height: 3px;
  background: #DB3138;
  margin: 6px;
  cursor: pointer;
}

.burger-lines:nth-child(2) {
  margin-left: 20px;
}

.drop-down {
  cursor: pointer;
}

.header {
  padding: 20px 0;
}

button {
  background: none;
  color: #ffff;
}
