<footer class="footer">
  <div class="flex flex-align-items-center flex-justify-content-around">
    <div class="footer-element">
      <h5>2022 © Est et viverra pellentesque pharetra lorem proin in. Vitae magna at tempus commodo.</h5>
    </div>
    <div class="flex">
      <div class="footer-element__link">
        <a href="#main">main</a>
      </div>
      <div class="footer-element__link">
        <a href="#pasting">pasting of the car</a>
      </div>
      <div class="footer-element__link">
        <a href="#detailing">Car detailing</a>
      </div>
      <div class="footer-element__link">
        <a href="#gallery">Gallery of works</a>
      </div>
    </div>
  </div>
</footer>
