.footer {
  border-top: solid 1px #898989;
}

.footer-element {
  color: #898989;
}

.footer-element__link a {
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}
