<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div class="carousel__content-box">
      <div class=""><img class="img" src="assets/car1.png" alt=""></div>
      <div class="owl-text-box flex flex-align-items-center">
        <h4 class="carousel-text">Lorem ipsum dolor sit amet, consectetur adipiscing
          elit.
          Cras vulputate laoreet sapien a sit ante.
        </h4>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="carousel__content-box">
      <div class=""><img class="img" src="assets/car2.png" alt=""></div>
      <div class="owl-text-box flex flex-align-items-center">
        <h4 class="carousel-text">Lorem ipsum dolor sit amet, consectetur adipiscing
          elit.
          Cras vulputate laoreet sapien a sit ante.
        </h4>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="carousel__content-box">
      <div class=""><img class="img" src="assets/car3.png" alt=""></div>
      <div class="owl-text-box flex flex-align-items-center">
        <h4 class="carousel-text">Lorem ipsum dolor sit amet, consectetur adipiscing
          elit.
          Cras vulputate laoreet sapien a sit ante.
        </h4>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="carousel__content-box">
      <div class=""><img class="img" src="assets/car1.png" alt=""></div>
      <div class="owl-text-box flex flex-align-items-center">
        <h4 class="carousel-text">Lorem ipsum dolor sit amet, consectetur adipiscing
          elit.
          Cras vulputate laoreet sapien a sit ante.
        </h4>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="carousel__content-box">
      <div class=""><img class="img" src="assets/car2.png" alt=""></div>
      <div class="owl-text-box flex flex-align-items-center">
        <h4 class="carousel-text">Lorem ipsum dolor sit amet, consectetur adipiscing
          elit.
          Cras vulputate laoreet sapien a sit ante.
        </h4>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="carousel__content-box">
      <div class=""><img class="img" src="assets/car3.png" alt=""></div>
      <div class="owl-text-box flex flex-align-items-center">
        <h4 class="carousel-text">Lorem ipsum dolor sit amet, consectetur adipiscing
          elit.
          Cras vulputate laoreet sapien a sit ante.
        </h4>
      </div>
    </div>
  </ng-template>
</owl-carousel-o>
