<div class="about__box flex flex-direction-column">
  <div class="">
    <div class="flex flex-align-items-center">
      <div class="about__box_img flex"><img src="assets/checkList.svg" alt=""></div>
      <div class="about__box_proposal">materials from the best companies</div>
    </div>
    <div class="about__box_content"><h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pretium, rutrum
      est, molestie proin
      tristique duis sed. Morbi suspendisse amet nisl vestibulum risus. Quis pretium</h5>
    </div>
  </div>
  <div class="flex flex-justify-content-center about__box_content">
    <app-diamod></app-diamod>
  </div>
  <div class="">
    <div class="flex flex-align-items-center">
      <div class="about__box_img "><img src="assets/atomizer.svg" alt=""></div>
      <div class="about__box_proposal">Experienced masters</div>
    </div>
    <div class="about__box_content"><h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et donec
      elementum egestas vitae
      ullamcorper. Amet volutpat ornare pharetra amet adipiscing orci, lectus aenean ultricies. Erat viverra eget
      blandit ornare. Molestie ipsum commodo faucibus rhoncus</h5>
    </div>
  </div>
  <div class="flex flex-justify-content-center about__box_content">
    <app-diamod></app-diamod>
  </div>
  <div class="">
    <div class="flex flex-align-items-center">
      <div class="about__box_img flex"><img src="assets/car.svg" alt=""></div>
      <div class="about__box_proposal">Guarantee for all types of work</div>
    </div>
    <div class="about__box_content"><h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
      volutpat.</h5></div>
  </div>
</div>
