<div class="background-box">
  <app-header></app-header>
  <main>
    <div class="flex flex-direction-column flex-align-items-center flex-justify-content-center">
      <h1 class="logo">CAR MUSC</h1>
      <div class="">
        <app-diamod></app-diamod>
      </div>
      <div class="sub-logo">
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae orci urna amet penatibus.</h2>
      </div>
      <div class="main-button" id="#main">
        <button mat-button [disableRipple]="true">
          <span>our services</span>
        </button>
      </div>
    </div>
  </main>
  <div class="flex flex-justify-content-around">
    <div class="info-box flex flex-direction-column">
      <div class="info"><h2>address</h2></div>
      <div class="info_address"><h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit </h3></div>
    </div>
    <div class="info-box flex flex-direction-column">
      <div class="info"><h2>phone</h2></div>
      <div class="info__about"><h3>(123) 456-7890</h3></div>
      <div class="info__about"><h3>(555) 987-6543</h3></div>
    </div>
    <div class="info-box flex flex-direction-column">
      <div class="info"><h2>operating mode</h2></div>
      <div class="info__about"><h3>Monday to Friday: 10:00 AM - 8:00 PM</h3></div>
      <div class="info__about"><h3>Saturday-Sunday: 12:00 PM - 8:00 PM</h3></div>
    </div>
  </div>
  <div class="container flex flex-justify-content-between main-box-table">
    <div class="flex flex-direction-column flex-justify-content-center ">
      <div class=""><h2>Our achievements from the cup to the world championships</h2></div>
      <div>
        <app-diamod></app-diamod>
      </div>
      <div class="about__achievements"><h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Habitant tincidunt
        aliquam tincidunt
        pretium sodales. Tristique odio pellentesque et tincidunt posuere arcu purus lobortis risus. Urna, ut amet odio
        orci magnis praesent ultrices. Praesent malesuada lacus tellus tristique sit at. Sed viverra nulla nam arcu, non
        iaculis pretium, volutpat.</h3>
      </div>
    </div>
    <div class="flex">
      <div class="grid__table">
        <div class="div1 flex flex-direction-column flex-align-items-center">
          <h2>#1</h2>
          <div class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dui</div>
        </div>
        <div class="div2 flex flex-direction-column flex-align-items-center">
          <h2>#6</h2>
          <div class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dui</div>
        </div>
        <div class="div3 flex flex-direction-column flex-align-items-center">
          <h2>#2</h2>
          <div class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dui</div>
        </div>
        <div class="div4 flex flex-direction-column flex-align-items-center">
          <h2>#1</h2>
          <div class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dui</div>
        </div>
      </div>
      <div class="grid__table table-position">
        <div class="div5 flex flex-direction-column flex-align-items-center">
          <h2>#4</h2>
          <div class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dui</div>
        </div>
        <div class="div6 flex flex-direction-column flex-align-items-center">
          <h2>#3</h2>
          <div class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dui</div>
        </div>
        <div class="div7 flex flex-direction-column flex-align-items-center">
          <h2>#1</h2>
          <div class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dui</div>
        </div>
        <div class="div8 flex flex-direction-column flex-justify-content-around flex-align-items-center">
          <div class="flex cup-img flex-direction-column flex-align-items-center">
            <img src="../../assets/cup.svg" alt="">
          </div>
          <div class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dui</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container carousel-position-buttons">
    <app-carousel></app-carousel>
  </div>
  <div class="container flex flex-align-items-center flex-justify-content-around">
    <div class="about__box">
      <app-info></app-info>
    </div>
    <div class="carousel-about">
      <div class="">
        <app-carousel-about></app-carousel-about>
      </div>
    </div>
  </div>
  <div class="container flex flex-justify-content-center flex-align-items-center flex-direction-column">
    <div class=""><h2>Our services</h2></div>
    <div class="">
      <app-diamod></app-diamod>
    </div>
    <div class="">
      <div class="flex flex-justify-content-between">
        <div class="flex main-button">
          <button mat-button [disableRipple]="true"><span>Pasting</span></button>
        </div>
        <div class="flex main-button">
          <button mat-button [disableRipple]="true"><span>Detailing</span></button>
        </div>
      </div>
    </div>
    <div class="">
      <app-details-box></app-details-box>
    </div>
  </div>
  <div class="container flex flex-align-items-center flex-justify-content-around flex-row-reverse">
    <div class="about__box">
      <app-info></app-info>
    </div>
    <div class="carousel-about">
      <div class="">
        <app-carousel-about></app-carousel-about>
      </div>
    </div>
  </div>
  <div class="">
    <div class="container flex flex-align-items-center flex-direction-column">
      <div class="flex"><h2>Our services</h2></div>
      <div class="flex">
        <app-diamod></app-diamod>
      </div>
    </div>
    <div class="">
      <app-mosaic></app-mosaic>
    </div>
  </div>
  <div class="">
    <div class="flex flex-align-items-center flex-direction-column">
      <div class="">
        <h2> We will answer any question</h2></div>
      <div class="">
        <app-diamod></app-diamod>
      </div>
    </div>
    <div class="container flex flex-justify-content-center">
      <app-user-feedback></app-user-feedback>
    </div>
  </div>
  <div class="">
    <app-footer></app-footer>
  </div>
</div>

