<div class="flex">
  <div class="details-box flex flex-direction-column flex-align-items-center flex-justify-content-center">
    <div class="about__box_img"><img src="assets/gluing.svg" alt=""></div>
    <div class=""><h4>Protective films</h4></div>
    <div class=""><h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nascetur ultrices pellentesque
      vulputate sit. Ut feugiat.</h6></div>
    <div class="main-button">
      <button mat-button [disableRipple]="true"><span>Read more</span></button>
    </div>
  </div>
  <div class="details-box flex flex-direction-column flex-align-items-center flex-justify-content-center">
    <div class="about__box_img"><img src="assets/checkList.svg" alt=""></div>
    <div class=""><h4>Color films</h4></div>
    <div class=""><h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nascetur ultrices pellentesque
      vulputate sit. Ut feugiat.</h6></div>
    <div class="main-button">
      <button mat-button [disableRipple]="true"><span>Read more</span></button>
    </div>
  </div>
  <div class="details-box flex flex-direction-column flex-align-items-center flex-justify-content-center">
    <div class="about__box_img"><img src="assets/atomizer.svg" alt=""></div>
    <div class=""><h4>Design</h4></div>
    <div class=""><h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nascetur ultrices pellentesque
      vulputate sit. Ut feugiat.</h6></div>
    <div class="main-button">
      <button mat-button [disableRipple]="true"><span>Read more</span></button>
    </div>
  </div>
  <div class="details-box flex flex-direction-column flex-align-items-center flex-justify-content-center">
    <div class="about__box_img"><img src="assets/car.svg" alt=""></div>
    <div class=""><h4>Interior pasting</h4></div>
    <div class=""><h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nascetur ultrices pellentesque
      vulputate sit. Ut feugiat.</h6></div>
    <div class="main-button">
      <button mat-button [disableRipple]="true"><span>Read more</span></button>
    </div>
  </div>
</div>
